In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [3]:
data=pd.read_csv('BlackFriday.csv')

In [4]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,M,18-25,18,C,1,0,1,2.0,15.0,11543
537548,1004734,P00111042,M,51-55,1,B,1,1,15,NaN,NaN,20924
537549,1004734,P00345842,M,51-55,1,B,1,1,2,8.0,14.0,13082
537550,1004735,P00278242,M,46-50,3,C,3,0,1,NaN,NaN,11658
537551,1004735,P00313442,M,46-50,3,C,3,0,5,6.0,8.0,6863
537552,1004735,P0098642,M,46-50,3,C,3,0,6,8.0,NaN,16415
537553,1004735,P00119342,M,46-50,3,C,3,0,10,13.0,NaN,18526
537554,1004735,P00114042,M,46-50,3,C,3,0,5,14.0,NaN,7099
537555,1004735,P00135142,M,46-50,3,C,3,0,13,16.0,NaN,578
537556,1004736,P00194542,M,18-25,20,A,1,1,8,14.0,NaN,2183
537557,1004736,P00175242,M,18-25,20,A,1,1,2,NaN,NaN,12724
537558,1004736,P00101942,M,18-25,20,A,1,1,8,17.0,NaN,7796
537559,1004736,P00109142,M,18-25,20,A,1,1,8,17.0,NaN,7770
537560,1004736,P00084842,M,18-25,20,A,1,1,8,16.0,NaN,5940
537561,1004736,P00078142,M,18-25,20,A,1,1,8,16.0,NaN,7834
537562,1004736,P00146742,M,18-25,20,A,1,1,1,13.0,14.0,11508
537563,1004736,P00154642,M,18-25,20,A,1,1,8,NaN,NaN,6074
537564,1004736,P00117442,M,18-25,20,A,1,1,5,14.0,NaN,7084
537565,1004736,P00051142,M,18-25,20,A,1,1,8,NaN,NaN,7934
537566,1004736,P00048742,M,18-25,20,A,1,1,5,NaN,NaN,5350
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,NaN,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,NaN,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [5]:
data.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [6]:
len(data.columns)

12

In [7]:
data.count(axis='columns')

0         10
1         12
2         10
3         11
4         10
5         11
6         12
7         11
8         11
9         10
10        11
11        10
12        10
13        12
14        12
15        11
16        12
17        11
18        12
19        12
20        11
21        10
22        10
23        10
24        12
25        11
26        10
27        11
28        12
29        12
          ..
537547    12
537548    10
537549    12
537550    10
537551    12
537552    11
537553    11
537554    11
537555    11
537556    11
537557    10
537558    11
537559    11
537560    11
537561    11
537562    12
537563    10
537564    11
537565    10
537566    10
537567    11
537568    10
537569    11
537570    11
537571    12
537572    11
537573    12
537574    11
537575    10
537576    11
Length: 537577, dtype: int64

In [8]:
data.index

RangeIndex(start=0, stop=537577, step=1)

In [9]:
data.tail()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [10]:
data.tail(3)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [11]:
data.tail(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,NaN,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,NaN,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [12]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [13]:
data.head(3)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422

In [14]:
data.head(8)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854

In [15]:
#groupby()
#--> it will output the result on the basis of a certain column
data.groupby(['Product_ID']).count()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
Product_ID,,,,,,,,,,,
P00000142,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130,1130
P00000242,371,371,371,371,371,371,371,371,371,371,371
P00000342,238,238,238,238,238,238,238,238,238,0,238
P00000442,92,92,92,92,92,92,92,92,92,0,92
P00000542,146,146,146,146,146,146,146,146,0,0,146
P00000642,512,512,512,512,512,512,512,512,512,512,512
P00000742,238,238,238,238,238,238,238,238,238,0,238
P00000842,36,36,36,36,36,36,36,36,36,0,36
P00000942,54,54,54,54,54,54,54,54,0,0,54
P00001042,494,494,494,494,494,494,494,494,494,494,494
P00001142,572,572,572,572,572,572,572,572,572,572,572
P00001242,99,99,99,99,99,99,99,99,99,0,99
P00001342,61,61,61,61,61,61,61,61,61,0,61
P00001442,83,83,83,83,83,83,83,83,0,0,83
P00001542,68,68,68,68,68,68,68,68,68,68,68
P00001642,349,349,349,349,349,349,349,349,349,0,349
P00001742,449,449,449,449,449,449,449,449,449,0,449
P00001842,76,76,76,76,76,76,76,76,0,0,76
P00001942,209,209,209,209,209,209,209,209,0,0,209
P00002042,91,91,91,91,91,91,91,91,0,0,91
P00002142,728,728,728,728,728,728,728,728,728,728,728
P00002242,195,195,195,195,195,195,195,195,195,195,195
P00002342,66,66,66,66,66,66,66,66,0,0,66
P00002442,325,325,325,325,325,325,325,325,325,0,325
P00002542,532,532,532,532,532,532,532,532,532,0,532
P00002642,62,62,62,62,62,62,62,62,0,0,62
P00002742,39,39,39,39,39,39,39,39,0,0,39
P00002842,83,83,83,83,83,83,83,83,0,0,83
P00002942,219,219,219,219,219,219,219,219,219,0,219
P00003042,37,37,37,37,37,37,37,37,0,0,37
...,...,...,...,...,...,...,...,...,...,...,...
P0096942,153,153,153,153,153,153,153,153,153,0,153
P0097042,87,87,87,87,87,87,87,87,0,0,87
P0097142,482,482,482,482,482,482,482,482,0,0,482
P0097242,896,896,896,896,896,896,896,896,896,0,896
P0097342,358,358,358,358,358,358,358,358,358,358,358
P0097442,6,6,6,6,6,6,6,6,0,0,6
P0097542,3,3,3,3,3,3,3,3,0,0,3
P0097642,1,1,1,1,1,1,1,1,0,0,1
P0097742,249,249,249,249,249,249,249,249,0,0,249
P0097842,276,276,276,276,276,276,276,276,0,0,276
P0097942,62,62,62,62,62,62,62,62,62,0,62
P0098042,20,20,20,20,20,20,20,20,0,0,20
P0098142,42,42,42,42,42,42,42,42,42,0,42
P0098242,229,229,229,229,229,229,229,229,229,0,229
P0098342,251,251,251,251,251,251,251,251,251,0,251
P0098442,72,72,72,72,72,72,72,72,72,0,72
P0098542,45,45,45,45,45,45,45,45,0,0,45
P0098642,26,26,26,26,26,26,26,26,26,0,26
P0098742,46,46,46,46,46,46,46,46,0,0,46
P0098842,10,10,10,10,10,10,10,10,0,0,10
P0098942,33,33,33,33,33,33,33,33,0,0,33
P0099042,141,141,141,141,141,141,141,141,141,141,141
P0099142,7,7,7,7,7,7,7,7,0,0,7
P0099242,255,255,255,255,255,255,255,255,255,0,255
P0099342,435,435,435,435,435,435,435,435,435,0,435
P0099442,196,196,196,196,196,196,196,196,196,0,196
P0099642,13,13,13,13,13,13,13,13,0,0,13
P0099742,123,123,123,123,123,123,123,123,123,123,123
P0099842,100,100,100,100,100,100,100,100,100,100,100
P0099942,13,13,13,13,13,13,13,13,13,13,13

In [16]:
data.groupby(['Marital_Status']).count()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
Marital_Status,,,,,,,,,,,
0,317817,317817,317817,317817,317817,317817,317817,317817,220325,98202,317817
1,219760,219760,219760,219760,219760,219760,219760,219760,150266,66076,219760

In [17]:
v1=sum(data.Marital_Status==1)
v1

219760

In [18]:
v2=sum(data.Marital_Status==0)
v2

317817

In [19]:
varTotal=v1+v2
varTotal

537577

In [20]:
def DataInPercent (DataInNumber,Total):
    percent=(DataInNumber/Total)*100
    return percent

In [21]:
print("Married persons:",round(DataInPercent(v1,varTotal),2),"%")

Married persons: 40.88 %

In [22]:
print("UnMarried persons:",round(DataInPercent(v2,varTotal),2),"%")

UnMarried persons: 59.12 %

In [23]:
sum(data.Age<='18')

14707

In [24]:
sum(data.Age>='18')

522870

In [27]:
data[data.Age<'18']

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
85,1000019,P00112542,M,0-17,10,A,3,0,1,11.0,15.0,7746
86,1000019,P00339542,M,0-17,10,A,3,0,1,NaN,NaN,19525
87,1000019,P00127842,M,0-17,10,A,3,0,1,2.0,15.0,11959
88,1000019,P00125942,M,0-17,10,A,3,0,1,2.0,15.0,19172
89,1000019,P00251342,M,0-17,10,A,3,0,5,11.0,NaN,8773
90,1000019,P00249642,M,0-17,10,A,3,0,3,5.0,NaN,11023
91,1000019,P00124842,M,0-17,10,A,3,0,11,NaN,NaN,4654
92,1000019,P00250642,M,0-17,10,A,3,0,11,NaN,NaN,4664
93,1000019,P00058142,M,0-17,10,A,3,0,3,4.0,12.0,8290
94,1000019,P00117442,M,0-17,10,A,3,0,5,14.0,NaN,7011
95,1000019,P00251642,M,0-17,10,A,3,0,1,2.0,4.0,4211
96,1000019,P00244842,M,0-17,10,A,3,0,11,NaN,NaN,1539
299,1000051,P00361842,F,0-17,10,C,2,0,15,16.0,NaN,17271
423,1000075,P00248442,F,0-17,10,C,4+,0,3,4.0,NaN,13337
424,1000075,P00172842,F,0-17,10,C,4+,0,3,4.0,NaN,13667
425,1000075,P00198142,F,0-17,10,C,4+,0,2,4.0,9.0,12746
426,1000075,P00282142,F,0-17,10,C,4+,0,3,4.0,NaN,5349
427,1000075,P00166942,F,0-17,10,C,4+,0,2,4.0,5.0,16187
428,1000075,P00187742,F,0-17,10,C,4+,0,2,4.0,NaN,16320
429,1000075,P00003442,F,0-17,10,C,4+,0,4,5.0,8.0,2129
430,1000075,P00060242,F,0-17,10,C,4+,0,3,4.0,NaN,11055
431,1000075,P00137642,F,0-17,10,C,4+,0,3,4.0,12.0,11000
432,1000075,P00106742,F,0-17,10,C,4+,0,3,5.0,NaN,10578
467,1000086,P00145042,F,0-17,10,C,3,0,1,2.0,5.0,19283
468,1000086,P00053942,F,0-17,10,C,3,0,1,2.0,5.0,19442
539,1000099,P00317842,F,0-17,10,C,1,0,8,NaN,NaN,5935
...,...,...,...,...,...,...,...,...,...,...,...,...
536529,1004572,P00030542,F,0-17,10,C,0,0,3,4.0,NaN,5424
536530,1004572,P00056242,F,0-17,10,C,0,0,4,5.0,NaN,2760
536531,1004572,P00000142,F,0-17,10,C,0,0,3,4.0,5.0,13645
536532,1004572,P00197242,F,0-17,10,C,0,0,4,5.0,NaN,2737
536545,1004575,P00036142,F,0-17,10,C,2,0,5,NaN,NaN,8668
536546,1004575,P00186142,F,0-17,10,C,2,0,1,2.0,4.0,19434
536547,1004575,P00102842,F,0-17,10,C,2,0,8,NaN,NaN,10011
536548,1004575,P00124342,F,0-17,10,C,2,0,11,NaN,NaN,1647
536549,1004575,P00069242,F,0-17,10,C,2,0,8,11.0,NaN,2127
536550,1004575,P00331742,F,0-17,10,C,2,0,11,NaN,NaN,1705
536551,1004575,P00244542,F,0-17,10,C,2,0,11,NaN,NaN,1612
536552,1004575,P00257642,F,0-17,10,C,2,0,5,11.0,NaN,2037
536553,1004575,P00123642,F,0-17,10,C,2,0,11,16.0,NaN,1474
536554,1004575,P00304142,F,0-17,10,C,2,0,5,11.0,NaN,3568
536555,1004575,P00008342,F,0-17,10,C,2,0,5,8.0,NaN,8866
536556,1004575,P00071542,F,0-17,10,C,2,0,5,NaN,NaN,8828
536746,1004606,P00225042,F,0-17,10,B,2,0,8,NaN,NaN,7864
536747,1004606,P00295842,F,0-17,10,B,2,0,5,8.0,NaN,3644
536748,1004606,P00161942,F,0-17,10,B,2,0,5,8.0,NaN,7032
536749,1004606,P00294242,F,0-17,10,B,2,0,4,5.0,NaN,2057
536750,1004606,P00321942,F,0-17,10,B,2,0,5,NaN,NaN,5324
536891,1004633,P00351342,M,0-17,0,B,1,0,1,2.0,16.0,19622
536892,1004633,P00161242,M,0-17,0,B,1,0,1,5.0,12.0,4068
536893,1004633,P00242742,M,0-17,0,B,1,0,1,2.0,9.0,19504
536894,1004633,P00030942,M,0-17,0,B,1,0,4,5.0,9.0,3476
537280,1004690,P00242742,F,0-17,10,C,3,0,1,2.0,9.0,11561
537281,1004690,P00226442,F,0-17,10,C,3,0,11,15.0,NaN,6010
537282,1004690,P00181442,F,0-17,10,C,3,0,11,NaN,NaN,7458
537283,1004690,P00192042,F,0-17,10,C,3,0,5,9.0,14.0,3706
537354,1004707,P00253042,M,0-17,0,C,4+,0,8,NaN,NaN,2304

In [57]:
data[data.Age>'18'].count()

User_ID                       522870
Product_ID                    522870
Gender                        522870
Age                           522870
Occupation                    522870
City_Category                 522870
Stay_In_Current_City_Years    522870
Marital_Status                522870
Product_Category_1            522870
Product_Category_2            360125
Product_Category_3            159489
Purchase                      522870
dtype: int64

In [26]:
data[(data.Age<'18') & (data.City_Category=='A')]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
85,1000019,P00112542,M,0-17,10,A,3,0,1,11.0,15.0,7746
86,1000019,P00339542,M,0-17,10,A,3,0,1,NaN,NaN,19525
87,1000019,P00127842,M,0-17,10,A,3,0,1,2.0,15.0,11959
88,1000019,P00125942,M,0-17,10,A,3,0,1,2.0,15.0,19172
89,1000019,P00251342,M,0-17,10,A,3,0,5,11.0,NaN,8773
90,1000019,P00249642,M,0-17,10,A,3,0,3,5.0,NaN,11023
91,1000019,P00124842,M,0-17,10,A,3,0,11,NaN,NaN,4654
92,1000019,P00250642,M,0-17,10,A,3,0,11,NaN,NaN,4664
93,1000019,P00058142,M,0-17,10,A,3,0,3,4.0,12.0,8290
94,1000019,P00117442,M,0-17,10,A,3,0,5,14.0,NaN,7011
95,1000019,P00251642,M,0-17,10,A,3,0,1,2.0,4.0,4211
96,1000019,P00244842,M,0-17,10,A,3,0,11,NaN,NaN,1539
3010,1000484,P00321942,F,0-17,10,A,2,0,5,NaN,NaN,5357
4526,1000737,P00202242,M,0-17,19,A,2,0,10,16.0,NaN,14030
4527,1000737,P00071442,M,0-17,19,A,2,0,15,17.0,NaN,21544
4528,1000737,P00350442,M,0-17,19,A,2,0,2,3.0,15.0,9525
4529,1000737,P00370642,M,0-17,19,A,2,0,8,16.0,NaN,5956
4530,1000737,P00238542,M,0-17,19,A,2,0,5,14.0,NaN,3694
4531,1000737,P00035242,M,0-17,19,A,2,0,8,14.0,NaN,6193
4532,1000737,P00170542,M,0-17,19,A,2,0,5,8.0,NaN,3620
4551,1000743,P00033342,F,0-17,2,A,2,0,5,14.0,NaN,3575
4552,1000743,P00088742,F,0-17,2,A,2,0,5,NaN,NaN,5465
4553,1000743,P00283942,F,0-17,2,A,2,0,5,NaN,NaN,6980
4554,1000743,P00364142,F,0-17,2,A,2,0,8,NaN,NaN,7787
4555,1000743,P00247742,F,0-17,2,A,2,0,8,NaN,NaN,8000
5059,1000829,P00085342,M,0-17,19,A,2,0,10,13.0,NaN,23562
...,...,...,...,...,...,...,...,...,...,...,...,...
521247,1002195,P00307342,M,0-17,10,A,0,0,8,NaN,NaN,10034
521248,1002195,P00323942,M,0-17,10,A,0,0,8,15.0,NaN,9834
521249,1002195,P00018042,M,0-17,10,A,0,0,15,16.0,NaN,17264
521250,1002195,P00190542,M,0-17,10,A,0,0,3,4.0,NaN,3118
521251,1002195,P0096942,M,0-17,10,A,0,0,3,4.0,NaN,2792
521252,1002195,P00108042,M,0-17,10,A,0,0,5,NaN,NaN,7040
521253,1002195,P00181542,M,0-17,10,A,0,0,11,16.0,NaN,6009
521991,1002346,P00117942,F,0-17,10,A,1,0,5,15.0,NaN,5394
521992,1002346,P00119642,F,0-17,10,A,1,0,1,2.0,8.0,15474
521993,1002346,P00110942,F,0-17,10,A,1,0,1,2.0,NaN,15857
521994,1002346,P00145042,F,0-17,10,A,1,0,1,2.0,5.0,19541
527882,1003382,P00171642,F,0-17,10,A,2,0,5,8.0,14.0,5296
533738,1004158,P00025442,F,0-17,10,A,1,0,1,2.0,9.0,11887
533739,1004158,P00350942,F,0-17,10,A,1,0,3,4.0,5.0,3160
535864,1004478,P00323942,M,0-17,12,A,1,0,8,15.0,NaN,6135
535865,1004478,P00031042,M,0-17,12,A,1,0,8,NaN,NaN,9942
535866,1004478,P00217942,M,0-17,12,A,1,0,5,NaN,NaN,7163
535867,1004478,P00304142,M,0-17,12,A,1,0,5,11.0,NaN,5371
535868,1004478,P00127842,M,0-17,12,A,1,0,1,2.0,15.0,11966
535869,1004478,P00222242,M,0-17,12,A,1,0,1,2.0,13.0,11731
535870,1004478,P00318142,M,0-17,12,A,1,0,2,NaN,NaN,3728
535871,1004478,P00346542,M,0-17,12,A,1,0,10,13.0,16.0,13852
535872,1004478,P00367442,M,0-17,12,A,1,0,8,9.0,NaN,9992
535873,1004478,P00198342,M,0-17,12,A,1,0,5,11.0,NaN,1738
535874,1004478,P00040442,M,0-17,12,A,1,0,5,14.0,NaN,5324
535875,1004478,P00036142,M,0-17,12,A,1,0,5,NaN,NaN,5358
535876,1004478,P00206442,M,0-17,12,A,1,0,1,5.0,9.0,11638
535877,1004478,P00047242,M,0-17,12,A,1,0,1,5.0,NaN,7921
535878,1004478,P00114942,M,0-17,12,A,1,0,1,15.0,16.0,11969
536009,1004493,P00350542,F,0-17,10,A,1,0,8,17.0,NaN,2043

In [28]:
data[(data.Age<'18') & (data.City_Category=='A') & (data.Gender=='M')]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
85,1000019,P00112542,M,0-17,10,A,3,0,1,11.0,15.0,7746
86,1000019,P00339542,M,0-17,10,A,3,0,1,NaN,NaN,19525
87,1000019,P00127842,M,0-17,10,A,3,0,1,2.0,15.0,11959
88,1000019,P00125942,M,0-17,10,A,3,0,1,2.0,15.0,19172
89,1000019,P00251342,M,0-17,10,A,3,0,5,11.0,NaN,8773
90,1000019,P00249642,M,0-17,10,A,3,0,3,5.0,NaN,11023
91,1000019,P00124842,M,0-17,10,A,3,0,11,NaN,NaN,4654
92,1000019,P00250642,M,0-17,10,A,3,0,11,NaN,NaN,4664
93,1000019,P00058142,M,0-17,10,A,3,0,3,4.0,12.0,8290
94,1000019,P00117442,M,0-17,10,A,3,0,5,14.0,NaN,7011
95,1000019,P00251642,M,0-17,10,A,3,0,1,2.0,4.0,4211
96,1000019,P00244842,M,0-17,10,A,3,0,11,NaN,NaN,1539
4526,1000737,P00202242,M,0-17,19,A,2,0,10,16.0,NaN,14030
4527,1000737,P00071442,M,0-17,19,A,2,0,15,17.0,NaN,21544
4528,1000737,P00350442,M,0-17,19,A,2,0,2,3.0,15.0,9525
4529,1000737,P00370642,M,0-17,19,A,2,0,8,16.0,NaN,5956
4530,1000737,P00238542,M,0-17,19,A,2,0,5,14.0,NaN,3694
4531,1000737,P00035242,M,0-17,19,A,2,0,8,14.0,NaN,6193
4532,1000737,P00170542,M,0-17,19,A,2,0,5,8.0,NaN,3620
5059,1000829,P00085342,M,0-17,19,A,2,0,10,13.0,NaN,23562
5060,1000829,P00087042,M,0-17,19,A,2,0,10,14.0,16.0,23182
5061,1000829,P00114442,M,0-17,19,A,2,0,5,6.0,NaN,8775
5062,1000829,P00086842,M,0-17,19,A,2,0,14,16.0,NaN,14757
5063,1000829,P00101342,M,0-17,19,A,2,0,6,8.0,NaN,12332
5064,1000829,P00200642,M,0-17,19,A,2,0,10,16.0,NaN,18535
5065,1000829,P00031042,M,0-17,19,A,2,0,8,NaN,NaN,7794
5066,1000829,P00117442,M,0-17,19,A,2,0,5,14.0,NaN,3664
6032,1000979,P00062842,M,0-17,10,A,1,0,1,2.0,13.0,19454
6033,1000979,P00321942,M,0-17,10,A,1,0,5,NaN,NaN,8679
7845,1001220,P00115142,M,0-17,10,A,3,0,1,8.0,17.0,12012
...,...,...,...,...,...,...,...,...,...,...,...,...
514221,1001220,P00113142,M,0-17,10,A,3,0,1,5.0,12.0,7973
514222,1001220,P00035542,M,0-17,10,A,3,0,3,4.0,12.0,8318
514223,1001220,P00368242,M,0-17,10,A,3,0,5,11.0,NaN,7032
514224,1001220,P00050342,M,0-17,10,A,3,0,5,8.0,17.0,7156
514225,1001220,P00032442,M,0-17,10,A,3,0,5,NaN,NaN,8759
521231,1002189,P00236042,M,0-17,10,A,1,0,5,NaN,NaN,3705
521245,1002195,P00057942,M,0-17,10,A,0,0,1,2.0,6.0,15191
521246,1002195,P00208342,M,0-17,10,A,0,0,1,16.0,NaN,15226
521247,1002195,P00307342,M,0-17,10,A,0,0,8,NaN,NaN,10034
521248,1002195,P00323942,M,0-17,10,A,0,0,8,15.0,NaN,9834
521249,1002195,P00018042,M,0-17,10,A,0,0,15,16.0,NaN,17264
521250,1002195,P00190542,M,0-17,10,A,0,0,3,4.0,NaN,3118
521251,1002195,P0096942,M,0-17,10,A,0,0,3,4.0,NaN,2792
521252,1002195,P00108042,M,0-17,10,A,0,0,5,NaN,NaN,7040
521253,1002195,P00181542,M,0-17,10,A,0,0,11,16.0,NaN,6009
535864,1004478,P00323942,M,0-17,12,A,1,0,8,15.0,NaN,6135
535865,1004478,P00031042,M,0-17,12,A,1,0,8,NaN,NaN,9942
535866,1004478,P00217942,M,0-17,12,A,1,0,5,NaN,NaN,7163
535867,1004478,P00304142,M,0-17,12,A,1,0,5,11.0,NaN,5371
535868,1004478,P00127842,M,0-17,12,A,1,0,1,2.0,15.0,11966
535869,1004478,P00222242,M,0-17,12,A,1,0,1,2.0,13.0,11731
535870,1004478,P00318142,M,0-17,12,A,1,0,2,NaN,NaN,3728
535871,1004478,P00346542,M,0-17,12,A,1,0,10,13.0,16.0,13852
535872,1004478,P00367442,M,0-17,12,A,1,0,8,9.0,NaN,9992
535873,1004478,P00198342,M,0-17,12,A,1,0,5,11.0,NaN,1738
535874,1004478,P00040442,M,0-17,12,A,1,0,5,14.0,NaN,5324
535875,1004478,P00036142,M,0-17,12,A,1,0,5,NaN,NaN,5358
535876,1004478,P00206442,M,0-17,12,A,1,0,1,5.0,9.0,11638
535877,1004478,P00047242,M,0-17,12,A,1,0,1,5.0,NaN,7921
535878,1004478,P00114942,M,0-17,12,A,1,0,1,15.0,16.0,11969

In [54]:
round(DataInPercent(sum(data.Age<'18')+sum(data.City_Category=='A')+sum(data.Gender=='M'),varTotal),2)

105.05

In [48]:
t1=sum(data.Age<'18')
t1

14707

In [49]:
t2=sum(data.City_Category=='A')
t2

144638

In [50]:
t3=sum(data.Gender=='M')
t3

405380

In [51]:
t_total=t1+t2+t3
t_total

564725

In [42]:
varTotal

537577

In [47]:
DataInPercent(t_total,varTotal)

105.05006724618056

In [37]:
data[data.Marital_Status==1]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
30,1000010,P00118742,F,36-45,1,B,4+,1,5,11.0,NaN,8886
31,1000010,P00297942,F,36-45,1,B,4+,1,8,NaN,NaN,5875
32,1000010,P00266842,F,36-45,1,B,4+,1,5,NaN,NaN,8854
33,1000010,P00058342,F,36-45,1,B,4+,1,3,4.0,NaN,10946
34,1000010,P00032442,F,36-45,1,B,4+,1,5,NaN,NaN,5152
35,1000010,P00105942,F,36-45,1,B,4+,1,5,NaN,NaN,7089
36,1000010,P00182642,F,36-45,1,B,4+,1,2,4.0,9.0,12909
37,1000010,P00186942,F,36-45,1,B,4+,1,5,12.0,NaN,8770
38,1000010,P00155442,F,36-45,1,B,4+,1,1,11.0,15.0,15212
39,1000010,P00221342,F,36-45,1,B,4+,1,1,2.0,5.0,15705
40,1000010,P00087242,F,36-45,1,B,4+,1,14,NaN,NaN,7947
41,1000010,P00111142,F,36-45,1,B,4+,1,1,15.0,16.0,18963
42,1000010,P00259342,F,36-45,1,B,4+,1,5,9.0,NaN,8718
43,1000010,P0094542,F,36-45,1,B,4+,1,2,4.0,9.0,16406
...,...,...,...,...,...,...,...,...,...,...,...,...
537532,1004732,P00319042,M,26-35,14,B,2,1,5,NaN,NaN,8659
537533,1004732,P00209842,M,26-35,14,B,2,1,5,8.0,NaN,6978
537534,1004732,P00255942,M,26-35,14,B,2,1,1,16.0,NaN,15556
537535,1004732,P00103042,M,26-35,14,B,2,1,1,14.0,NaN,15785
537536,1004732,P00005042,M,26-35,14,B,2,1,6,16.0,NaN,19933
537537,1004732,P00219942,M,26-35,14,B,2,1,6,16.0,NaN,16486
537538,1004732,P00041842,M,26-35,14,B,2,1,6,8.0,NaN,12651
537539,1004732,P00113842,M,26-35,14,B,2,1,6,8.0,16.0,12510
537540,1004732,P00124642,M,26-35,14,B,2,1,16,NaN,NaN,16610
537541,1004732,P00051442,M,26-35,14,B,2,1,8,17.0,NaN,9877
537542,1004732,P00085242,M,26-35,14,B,2,1,8,14.0,17.0,10036
537543,1004732,P00117242,M,26-35,14,B,2,1,8,17.0,NaN,7802
537544,1004732,P00093342,M,26-35,14,B,2,1,1,8.0,18.0,11535
537548,1004734,P00111042,M,51-55,1,B,1,1,15,NaN,NaN,20924
537549,1004734,P00345842,M,51-55,1,B,1,1,2,8.0,14.0,13082
537556,1004736,P00194542,M,18-25,20,A,1,1,8,14.0,NaN,2183
537557,1004736,P00175242,M,18-25,20,A,1,1,2,NaN,NaN,12724
537558,1004736,P00101942,M,18-25,20,A,1,1,8,17.0,NaN,7796
537559,1004736,P00109142,M,18-25,20,A,1,1,8,17.0,NaN,7770
537560,1004736,P00084842,M,18-25,20,A,1,1,8,16.0,NaN,5940
537561,1004736,P00078142,M,18-25,20,A,1,1,8,16.0,NaN,7834
537562,1004736,P00146742,M,18-25,20,A,1,1,1,13.0,14.0,11508
537563,1004736,P00154642,M,18-25,20,A,1,1,8,NaN,NaN,6074
537564,1004736,P00117442,M,18-25,20,A,1,1,5,14.0,NaN,7084
537565,1004736,P00051142,M,18-25,20,A,1,1,8,NaN,NaN,7934
537566,1004736,P00048742,M,18-25,20,A,1,1,5,NaN,NaN,5350
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,NaN,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,NaN,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491

In [38]:
data[data.Marital_Status==0]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
47,1000011,P00192642,F,26-35,1,C,1,0,8,17.0,NaN,6171
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327
49,1000011,P00189642,F,26-35,1,C,1,0,8,13.0,NaN,8027
50,1000012,P00304242,M,26-35,12,C,2,0,1,6.0,NaN,15246
51,1000012,P00365242,M,26-35,12,C,2,0,5,8.0,NaN,6865
55,1000014,P00276642,M,36-45,0,C,0,0,8,11.0,NaN,5848
56,1000015,P00334242,M,26-35,7,A,1,0,1,8.0,NaN,19653
57,1000015,P00247542,M,26-35,7,A,1,0,8,16.0,NaN,5958
58,1000015,P00338442,M,26-35,7,A,1,0,1,16.0,NaN,11415
59,1000015,P00275142,M,26-35,7,A,1,0,5,8.0,NaN,5380
60,1000015,P00333042,M,26-35,7,A,1,0,5,8.0,NaN,3594
61,1000015,P00166242,M,26-35,7,A,1,0,8,NaN,NaN,4209
62,1000015,P00161942,M,26-35,7,A,1,0,5,8.0,NaN,5407
63,1000015,P00348242,M,26-35,7,A,1,0,8,NaN,NaN,7803
64,1000015,P00042142,M,26-35,7,A,1,0,1,2.0,6.0,11458
67,1000017,P00019342,M,51-55,1,C,0,0,1,6.0,15.0,15872
...,...,...,...,...,...,...,...,...,...,...,...,...
537494,1004728,P00182042,M,26-35,19,B,3,0,11,NaN,NaN,4418
537495,1004728,P0096742,M,26-35,19,B,3,0,2,4.0,12.0,13115
537496,1004728,P00110542,M,26-35,19,B,3,0,8,NaN,NaN,9732
537497,1004728,P00028842,M,26-35,19,B,3,0,6,8.0,NaN,16317
537498,1004728,P00122442,M,26-35,19,B,3,0,1,11.0,15.0,11802
537499,1004728,P00351142,M,26-35,19,B,3,0,1,8.0,17.0,11610
537500,1004728,P00115842,M,26-35,19,B,3,0,16,NaN,NaN,20269
537501,1004728,P00187842,M,26-35,19,B,3,0,1,16.0,NaN,11909
537502,1004728,P00210342,M,26-35,19,B,3,0,3,4.0,NaN,8432
537503,1004728,P00021942,M,26-35,19,B,3,0,8,16.0,NaN,6043
537504,1004728,P00214842,M,26-35,19,B,3,0,14,NaN,NaN,11013
537505,1004728,P00057242,M,26-35,19,B,3,0,5,NaN,NaN,6888
537506,1004728,P00147842,M,26-35,19,B,3,0,8,NaN,NaN,5955
537507,1004728,P00016342,M,26-35,19,B,3,0,1,2.0,8.0,7604
537508,1004728,P00214642,M,26-35,19,B,3,0,11,13.0,16.0,4683
537545,1004733,P00144042,M,18-25,18,C,1,0,2,3.0,4.0,9687
537546,1004733,P00070042,M,18-25,18,C,1,0,1,2.0,16.0,15515
537547,1004733,P00244042,M,18-25,18,C,1,0,1,2.0,15.0,11543
537550,1004735,P00278242,M,46-50,3,C,3,0,1,NaN,NaN,11658
537551,1004735,P00313442,M,46-50,3,C,3,0,5,6.0,8.0,6863
537552,1004735,P0098642,M,46-50,3,C,3,0,6,8.0,NaN,16415
537553,1004735,P00119342,M,46-50,3,C,3,0,10,13.0,NaN,18526
537554,1004735,P00114042,M,46-50,3,C,3,0,5,14.0,NaN,7099
537555,1004735,P00135142,M,46-50,3,C,3,0,13,16.0,NaN,578
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [39]:
print("Male Percentage:",round(DataInPercent(sum(data.Gender=='M'),537577)),"%")

Male Percentage: 75 %

In [40]:
print("Female Percentage:",round(DataInPercent(sum(data.Gender=='F'),537577)),"%")

Female Percentage: 25 %

In [58]:
data.iloc[5]

User_ID                         1000003
Product_ID                    P00193542
Gender                                M
Age                               26-35
Occupation                           15
City_Category                         A
Stay_In_Current_City_Years            3
Marital_Status                        0
Product_Category_1                    1
Product_Category_2                    2
Product_Category_3                  NaN
Purchase                          15227
Name: 5, dtype: object

In [60]:
data.loc[5]

User_ID                         1000003
Product_ID                    P00193542
Gender                                M
Age                               26-35
Occupation                           15
City_Category                         A
Stay_In_Current_City_Years            3
Marital_Status                        0
Product_Category_1                    1
Product_Category_2                    2
Product_Category_3                  NaN
Purchase                          15227
Name: 5, dtype: object

In [61]:
data.loc[6]

User_ID                         1000004
Product_ID                    P00184942
Gender                                M
Age                               46-50
Occupation                            7
City_Category                         B
Stay_In_Current_City_Years            2
Marital_Status                        1
Product_Category_1                    1
Product_Category_2                    8
Product_Category_3                   17
Purchase                          19215
Name: 6, dtype: object

In [64]:
data.groupby(['Gender','Age']).count()

              User_ID  Product_ID  Occupation  City_Category  \
Gender Age
F      0-17      4953        4953        4953           4953
       18-25    24057       24057       24057          24057
       26-35    49348       49348       49348          49348
       36-45    26420       26420       26420          26420
       46-50    12856       12856       12856          12856
       51-55     9634        9634        9634           9634
       55+       4929        4929        4929           4929
M      0-17      9754        9754        9754           9754
       18-25    73577       73577       73577          73577
       26-35   165342      165342      165342         165342
       36-45    81079       81079       81079          81079
       46-50    31670       31670       31670          31670
       51-55    27984       27984       27984          27984
       55+      15974       15974       15974          15974

              Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
Gender Age
F      0-17                         4953            4953                4953
       18-25                       24057           24057               24057
       26-35                       49348           49348               49348
       36-45                       26420           26420               26420
       46-50                       12856           12856               12856
       51-55                        9634            9634                9634
       55+                          4929            4929                4929
M      0-17                         9754            9754                9754
       18-25                       73577           73577               73577
       26-35                      165342          165342              165342
       36-45                       81079           81079               81079
       46-50                       31670           31670               31670
       51-55                       27984           27984               27984
       55+                         15974           15974               15974

              Product_Category_2  Product_Category_3  Purchase
Gender Age
F      0-17                 3582                1552      4953
       18-25               16616                6970     24057
       26-35               33122               13364     49348
       36-45               18234                7728     26420
       46-50                8679                3572     12856
       51-55                6356                2479      9634
       55+                  3261                1267      4929
M      0-17                 6884                3237      9754
       18-25               51640               23919     73577
       26-35              114623               52552    165342
       36-45               55935               25030     81079
       46-50               21762                9563     31670
       51-55               19296                8539     27984
       55+                 10601                4506     15974

In [65]:
data.groupby(['Marital_Status','Age']).count()

                      User_ID  Product_ID  Gender  Occupation  City_Category  \
Marital_Status Age
0              0-17     14707       14707   14707       14707          14707
               18-25    76993       76993   76993       76993          76993
               26-35   130524      130524  130524      130524         130524
               36-45    64992       64992   64992       64992          64992
               46-50    12332       12332   12332       12332          12332
               51-55    10639       10639   10639       10639          10639
               55+       7630        7630    7630        7630           7630
1              18-25    20641       20641   20641       20641          20641
               26-35    84166       84166   84166       84166          84166
               36-45    42507       42507   42507       42507          42507
               46-50    32194       32194   32194       32194          32194
               51-55    26979       26979   26979       26979          26979
               55+      13273       13273   13273       13273          13273

                      Stay_In_Current_City_Years  Product_Category_1  \
Marital_Status Age
0              0-17                        14707               14707
               18-25                       76993               76993
               26-35                      130524              130524
               36-45                       64992               64992
               46-50                       12332               12332
               51-55                       10639               10639
               55+                          7630                7630
1              18-25                       20641               20641
               26-35                       84166               84166
               36-45                       42507               42507
               46-50                       32194               32194
               51-55                       26979               26979
               55+                         13273               13273

                      Product_Category_2  Product_Category_3  Purchase
Marital_Status Age
0              0-17                10466                4789     14707
               18-25               54027               24541     76993
               26-35               89982               39882    130524
               36-45               45104               20184     64992
               46-50                8306                3514     12332
               51-55                7180                3062     10639
               55+                  5260                2230      7630
1              18-25               14229                6348     20641
               26-35               57763               26034     84166
               36-45               29065               12574     42507
               46-50               22135                9621     32194
               51-55               18472                7956     26979
               55+                  8602                3543     13273