In [3]:
divBy7=[x for x in range(1,1000) if x%7==0]
print(divBy7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [9]:
y="*"
for x in range (1,10):
    print(y)
    y+="*"

*
**
***
****
*****
******
*******
********
*********

In [4]:
for x in range (1,16):
    if x<=7:
        print(x*"*")
    else:
        y=16-x
        print(y*"*")

*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

In [13]:
pizza=['tikka','cheezy bite','Jalapeno','bbq']
pizza1=pizza.copy()
print(pizza1)
print(pizza1.append("Super pizza"))

['tikka', 'cheezy bite', 'Jalapeno', 'bbq']
None

nested for loop

In [25]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)

In [26]:
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [24]:
for num in range(1,11):
    print(2,"*",num,"=",num*2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [31]:
for tableNum in range(2,11):
    for num in range (1,11):
        print(tableNum,"*",num,"=",num*tableNum)
        #print("-------------------------------")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

topic-Dictionaries
myDict={key:value,key:value,key:value,key:value,key:value,}
-->json format may data dictionary ki form may hota hay
-->it is a type data base
-->most usely
.items
.values
.keys

In [39]:
myDict={1:100,2:1000,3:10000}
print(myDict[1],myDict[2])
dct1={1:"Pakistan",2:"karachi"}
dct2={"name":"faizan","school":"tcs"}
dct3={"age": 18 ,"rollnum":12345678}

100 1000

In [40]:
for k,v in myDict.items():
    print(k,v)
for k in dct1.items():
    print(k)

1 100
2 1000
3 10000
(1, 'Pakistan')
(2, 'karachi')

In [41]:
adict={'name':'suffyan','lastname':'khan'}
adict['lastname']='qureshi'
adict

{'name': 'suffyan', 'lastname': 'qureshi'}

In [43]:
adict["add"]="karachi"
adict

{'name': 'suffyan', 'lastname': 'qureshi', 'add': 'karachi'}

In [44]:
mylistindict={1:['a','b','c'],2:['x','y','z']}
mylistindict[1][0]

'a'

In [46]:
dic={"key1":1}
dic["key1"]

1