In [27]:
import pandas as pd
from pandas import DataFrame, Series
s = Series([1, 2, 3, 4]) #series provides indexing
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [28]:
names=Series(['faizan','hasnain','ali','usman','iste'])#default indexing
print(names)
print("-----------Non-default Indexing---------------")
names1=Series(names.values,index=['f','h','a','u','i'])##non default indexing where "names" is a series
print(names1)

0     faizan
1    hasnain
2        ali
3      usman
4       iste
dtype: object
-----------Non-default Indexing---------------
f     faizan
h    hasnain
a        ali
u      usman
i       iste
dtype: object

In [29]:
a = Series( s.values , index = ['a', 'b', 'c' , 'd']) #non default indexing where "s" is a series old series but new indexing
a

a    1
b    2
c    3
d    4
dtype: int64

In [30]:
q=Series(['abc','xyz','qwerty','apple'],index=a.index)#old indexing but new series
print(q)

a       abc
b       xyz
c    qwerty
d     apple
dtype: object

In [31]:
impEvents=pd.date_range(start='2018-01-01',end='2019-12-31',freq="W")#here freq is week date_range is very imp on time frame data
print(impEvents)

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11',
               ...
               '2019-10-27', '2019-11-03', '2019-11-10', '2019-11-17',
               '2019-11-24', '2019-12-01', '2019-12-08', '2019-12-15',
               '2019-12-22', '2019-12-29'],
              dtype='datetime64[ns]', length=104, freq='W-SUN')

In [32]:
dates = pd.date_range('2019-07-01', '2019-07-07' )#here date_range is a func of pd i-e, pandas here freq is day
dates

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06', '2019-07-07'],
              dtype='datetime64[ns]', freq='D')

In [33]:
#these dates use for indexing
b = Series([80, 82, 85, 90, 83, 87,90],index = dates)
b

2019-07-01    80
2019-07-02    82
2019-07-03    85
2019-07-04    90
2019-07-05    83
2019-07-06    87
2019-07-07    90
Freq: D, dtype: int64

In [34]:
#series can be two diman
date1=pd.date_range("2018-01-01","2018-01-05")
w=Series([[1,2,3],[4,5,6],[6,7,8],[11,22,33],['x','y','z']],index=date1)
w

2018-01-01       [1, 2, 3]
2018-01-02       [4, 5, 6]
2018-01-03       [6, 7, 8]
2018-01-04    [11, 22, 33]
2018-01-05       [x, y, z]
Freq: D, dtype: object

In [35]:
#series by dict
s6 = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4})#keys are the index num
s6

a    1
b    2
c    3
d    4
dtype: int64

In [36]:
s7=pd.Series(s6,index=['aa','bb','c','dd'])
s7

aa    NaN
bb    NaN
c     3.0
dd    NaN
dtype: float64

In [37]:
b.mean()

85.28571428571429

In [38]:
b2 = Series([70, 75, 69, 83, 79, 77,95],index = dates)
b2

2019-07-01    70
2019-07-02    75
2019-07-03    69
2019-07-04    83
2019-07-05    79
2019-07-06    77
2019-07-07    95
Freq: D, dtype: int64

In [39]:
b2['2019-07-01':'2019-07-05']#silicing

2019-07-01    70
2019-07-02    75
2019-07-03    69
2019-07-04    83
2019-07-05    79
Freq: D, dtype: int64

In [40]:
result = DataFrame({'Midterm': b,'Finals': b2})
result

            Midterm  Finals
2019-07-01       80      70
2019-07-02       82      75
2019-07-03       85      69
2019-07-04       90      83
2019-07-05       83      79
2019-07-06       87      77
2019-07-07       90      95

In [41]:
range1=pd.date_range('2019-01-01','2019-01-05')
range2=pd.date_range('2019-02-01','2019-02-05')
ser1=Series(['a','b','c','d','e'],index=range1)
ser2=Series(['a1','b1','c1','d1','e1'],index=range2)
view=DataFrame({'Var1':ser1,'Var2':ser2})
view

           Var1 Var2
2019-01-01    a  NaN
2019-01-02    b  NaN
2019-01-03    c  NaN
2019-01-04    d  NaN
2019-01-05    e  NaN
2019-02-01  NaN   a1
2019-02-02  NaN   b1
2019-02-03  NaN   c1
2019-02-04  NaN   d1
2019-02-05  NaN   e1

In [42]:
result['Midterm']

2019-07-01    80
2019-07-02    82
2019-07-03    85
2019-07-04    90
2019-07-05    83
2019-07-06    87
2019-07-07    90
Freq: D, Name: Midterm, dtype: int64

In [43]:
diff = result.Midterm - result.Finals
diff

2019-07-01    10
2019-07-02     7
2019-07-03    16
2019-07-04     7
2019-07-05     4
2019-07-06    10
2019-07-07    -5
Freq: D, dtype: int64

In [44]:
mult = result.Midterm * result.Finals
mult

2019-07-01    5600
2019-07-02    6150
2019-07-03    5865
2019-07-04    7470
2019-07-05    6557
2019-07-06    6699
2019-07-07    8550
Freq: D, dtype: int64

In [45]:
new = DataFrame({'Midterm': b,'Finals': b2 , 'difference': diff , 'Multiply': mult})
new

            Midterm  Finals  difference  Multiply
2019-07-01       80      70          10      5600
2019-07-02       82      75           7      6150
2019-07-03       85      69          16      5865
2019-07-04       90      83           7      7470
2019-07-05       83      79           4      6557
2019-07-06       87      77          10      6699
2019-07-07       90      95          -5      8550

In [46]:
new.columns

Index(['Midterm', 'Finals', 'difference', 'Multiply'], dtype='object')

In [47]:
new.difference['2019-07-02':'2019-07-06']

2019-07-02     7
2019-07-03    16
2019-07-04     7
2019-07-05     4
2019-07-06    10
Freq: D, Name: difference, dtype: int64

In [48]:
new.iloc[6]#use for default indexing

Midterm         90
Finals          95
difference      -5
Multiply      8550
Name: 2019-07-07 00:00:00, dtype: int64

In [49]:
new.loc['2019-07-03']#use for non default indexing

Midterm         85
Finals          69
difference      16
Multiply      5865
Name: 2019-07-03 00:00:00, dtype: int64

In [50]:
new.iloc[[1, 2, 5]].difference

2019-07-02     7
2019-07-03    16
2019-07-06    10
Name: difference, dtype: int64

In [51]:
new.iloc[[2,4,0]].Midterm

2019-07-03    85
2019-07-05    83
2019-07-01    80
Name: Midterm, dtype: int64

In [52]:
new.loc['2019-07-04': '2019-07-06']

            Midterm  Finals  difference  Multiply
2019-07-04       90      83           7      7470
2019-07-05       83      79           4      6557
2019-07-06       87      77          10      6699

In [53]:
[new.Midterm > 82]#return boolean

[2019-07-01    False
 2019-07-02    False
 2019-07-03     True
 2019-07-04     True
 2019-07-05     True
 2019-07-06     True
 2019-07-07     True
 Freq: D, Name: Midterm, dtype: bool]

In [54]:
new[new.Midterm > 82]#get the data

            Midterm  Finals  difference  Multiply
2019-07-03       85      69          16      5865
2019-07-04       90      83           7      7470
2019-07-05       83      79           4      6557
2019-07-06       87      77          10      6699
2019-07-07       90      95          -5      8550

In [56]:
obj = pd.Series([4, 7, -5, 3 , 4, 7, 6],index = pd.RangeIndex(start = 0 , stop = 14 , step = 2))
obj.values

array([ 4,  7, -5,  3,  4,  7,  6], dtype=int64)

In [57]:
obj = pd.Series([4, 7, -5, 3 , 4, 7, 6],index = pd.RangeIndex(start = 0 , stop = 14 , step = 2))
obj

0     4
2     7
4    -5
6     3
8     4
10    7
12    6
dtype: int64

In [23]:
obj.index

RangeIndex(start=0, stop=14, step=2)

In [24]:
obj1 = pd.Series([4, 7, -5, 6],index = ['a' , 'b' , 'c' ,'a'])
obj1.values

array([ 4,  7, -5,  6], dtype=int64)

In [25]:
obj1['e'] = 34

In [26]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
sdata

{'Ohio': 35000, 'Oregon': 16000, 'Texas': 71000, 'Utah': 5000}

In [27]:
states = ['California', 'Ohio', 'Oregon', 'Utah', 'Texas']
states

['California', 'Ohio', 'Oregon', 'Utah', 'Texas']

In [28]:
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Utah           5000.0
Texas         71000.0
dtype: float64